extends layout/main

block contents
    .form-container
        form(action=routes.join, method="post")
            input(type="text",name="name",placeholder="Fullname")
            input(type="email", name="email",placeholder="Email")
            input(type="password", name="password1",placeholder="password")
            input(type="password", name="password2",placeholder="password confirm")
            input(type="submit" value="가입")
        include partial/socialLogin